libs/glslang/win32/debug/*.lib filter=lfs diff=lfs merge=lfs -text
libs/glslang/win32/release/*.lib filter=lfs diff=lfs merge=lfs -text
libs/glslang/android/*.a filter=lfs diff=lfs merge=lfs -text
libs/glslang/android/*.so filter=lfs diff=lfs merge=lfs -text
assets/*.ply filter=lfs diff=lfs merge=lfs -text
